<%= form_for @comment do |f| %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Write new comment here..." %>
		<%= f.hidden_field :user_id, value: current_user.id %>
		<%= f.hidden_field :entry_id, value: @entry.id %>
	</div>
	<%= f.submit "Post", class: "btn btn-larg btn-primary" %>
<% end %>