<%= form_for(@entry) do |f| %>
  <%= @entry.body %>
  <li class="divider"></li>
  Comments
  <% @comments.each do |comment| %>
    <li>
      <span>
      <%= link_to gravatar_for(comment.user, size: 30), comment.user %>
      <%= link_to comment.user.name, comment.user %>
      </span>
      <span class="body"><%= comment.content %></span>
      <span class="timestamp">
         Posted <%= time_ago_in_words(comment.created_at) %> ago at <%= comment.created_at.to_date %>.
      </span>
    </li>
    <li class="divider"></li>
  <% end %>
<% end %>